header {
    background-color: #000000;
    width: 100%;
    min-height: 160px;
    position: fixed;
    top: 0;
    height: 160px;
    max-height: 160px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 21px;

}

.Top-nav {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 60px;
}

.Search {
    width: 100%;
    max-width: 440px;
    height: 50px;
    position: relative;
    background-color: #D9D9D933;
    border-radius: 30px;
    overflow: hidden;
}


.Search input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 55px 0 20px;
    background: transparent;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.Search button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Search button img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: 0.3s;
}


.Search button:hover img {
    opacity: 1;
    transform: scale(1.15);
}


.Search:focus-within {
    box-shadow: 0 0 0 2px black;
    background-color: #fff;
}

.Search:focus-within button img {
    filter: brightness(0);
}


.User-Actions {
    width: 380px;
    height: 40px;
    display: flex;
    color: white;
    gap: 50px;
}

.User-Actions div span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    cursor: pointer;
}

.navbar {
    height: 42px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.saved {
    height: 37px;
    width: 76px;
}

.cart {
    height: 37px;
    width: 89px;
}

.account {
    height: 37px;
    width: 113px;
}