@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato\ Bold.ttf') format('truetype');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #000000;
    width: 100%;
    height: 160px;
    z-index: 10;
    min-width: 1440px;
}

footer {
    background-color: #000000;
    padding: 70px 120px 30px 120px;
    width: 100%;
    min-width: 1440px;

}

main {
    margin-top: 160px;
    min-width: 1440px;
}

.hero_1 {
    height: 467px;
    background: linear-gradient(140deg,
            #0F0F0F 60%,
            #171717 40%);
    display: flex;
    justify-content: space-between;
}

.hero_1-left {
    height: 236px;
    position: relative;
    width: 548px;
    top: 86px;
    left: 96px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.hero_1-left-info {
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.hero_1-left-info p:nth-of-type(1) {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.hero_1-left-info p:nth-of-type(2) {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.hero_1-left-btn {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid white;
}

.hero_1-left-btn:hover,
.hero_5-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.hero_2 {
    height: 171px;
    background-color: #F8F8F8;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
}

.hero_2-section {
    width: 1196px;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_2-section-1 {
    font-size: 24px;
    font-family: 'lato', sans-serif;
    font-weight: 800;
    height: 58px;
    width: 164px;
}

.hero_2-section-2 {
    height: 91px;
    width: 950px;
    display: flex;
    gap: 20px;
}

.hero_2-section-2-card {
    height: 91px;
    width: 168px;
    text-align: center;
}

.hero_2-section-2-card img {
    height: 24px;
    width: 24px;
}

.hero_2-section-info {
    height: 63px;
}

.title {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    margin-bottom: 4px;
}

.info {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #22222299;
}

.hero_3 {
    height: 845px;
    margin-bottom: 19px;
}

.hero_3-title {
    height: 99.40828704833984px;
    background-color: black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero_3-section {
    height: 840px;
    padding: 25px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
}

.hero_3-card {
    height: 715.7396240234375px;
    width: 341.5602722167969px;
    padding: 15px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_3-card-1 {
    position: relative;
    width: 318px;
    height: 320px;
}

.hero_3-card-1 img {
    width: 318px;
    height: 320px;
    display: block;
}

.hero_3-btn {
    width: 162.44px;
    height: 47px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    z-index: 2;
    border-radius: 12px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    display: inline-block;
    transition: transform 0.25s ease;
}

.hero_3-btn:hover {
    cursor: pointer;
    transform: translateX(-50%) translateY(-5px);

}

.hero_3-card-main {
    width: 707.9432373046875px;
    height: 715.7396240234375px;
    padding: 15px 17.94px 20.74px 15px;
}

.hero_3-card-2 {
    position: relative;
    width: 675px;
    height: 680px;
}

.hero_3-card-2 img {
    width: 675px;
    height: 680px;
    display: block;
}

.hero_4 {
    height: 1191px;
    margin-bottom: 19px;
}

.hero_4-title {
    height: 100px;
    background-color: black;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero_4-section {
    height: 1091px;
    padding: 54px 31px 0px 31px;
    display: flex;
    justify-content: center;
}

.hero_4-product-grid {
    width: 1380px;
    height: 1037px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 33px;
}

.product {
    padding: 0px 2px 0px 2px;
    width: 320px;
    height: 500px;
    background: white;
    transition: 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 100%;
    height: 420px;
    object-fit: contain;
    background-color: #F6F6F6;
}

.name {
    font-size: 16px;
    margin: 16.1px 0 7.1px 0;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;


}

.price {
    font-size: 24px;
    font-weight: 400;
    color: #666666;
}

.hero_5 {
    height: 733px;
    margin-bottom: 28px;
}

.hero_5-title {
    height: 100px;
    background-color: black;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero_5-section {
    height: 633px;
    padding: 38px 31px 0 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero_5-product-list {
    width: 1381px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
}

.hero_5-btn {
    width: 200px;
    height: 60px;
    margin: auto;
    background-color: black;
    text-decoration: none;
    font-weight: 800;
    border-radius: 10px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'nunito sans', sans-serif;
    color: white;
}